* {
	background-color: rgb(128, 128, 128);

}


ul {
	margin-top: 8px;
	display: flex;
	flex-direction: column;
	text-align: center;
	gap: 3px;
	transform: translateX(-15px);
}

li {
  padding: 2px;
  cursor: pointer;
  text-align: center;
  color: rgb(0, 0, 0); 
  background-color: rgb(192, 192, 192);
  list-style-type: none;
  border-radius: 4px;
}

li:hover {
  background-color: #666;
  color: aliceblue;
}

hr {
	transform: translateY(-10px);
}


.selecionado {
  background-color: #444;
  color: #fff;
}





