<!--<h3>Grupos Cadastrados:</h3>-->

<!--<table mat-table [dataSource]="grupos" class="mat-elevation-z8">-->
<!--   Nome Grupo -->
<!--  <ng-container matColumnDef="nomeGrupo">-->
<!--    <th mat-header-cell *matHeaderCellDef> <h5>Grupo</h5> </th>-->
<!--    <td mat-cell *matCellDef="let grupo" [ngClass]="{'removido': grupo.removido}">-->
<!--      {{ grupo.nomeGrupo }}-->
<!--    </td>-->
<!--  </ng-container>-->

<!--   Facção -->
<!--  <ng-container matColumnDef="faccao">-->
<!--    <th mat-header-cell *matHeaderCellDef> <h5>Facção</h5> </th>-->
<!--    <td mat-cell *matCellDef="let grupo" [ngClass]="{'removido': grupo.removido}">-->
<!--      {{ grupo.faccao?.nome || 'Sem Facção' }}-->
<!--    </td>-->
<!--  </ng-container>-->

<!--   Área -->
<!--  <ng-container matColumnDef="area">-->
<!--    <th mat-header-cell *matHeaderCellDef> <h5>Área</h5> </th>-->
<!--    <td mat-cell *matCellDef="let grupo" [ngClass]="{'removido': grupo.removido}">-->
<!--      {{ grupo.area }}-->
<!--    </td>-->
<!--  </ng-container>-->

<!--   Nome Irmão -->
<!--  <ng-container matColumnDef="irmaos">-->
<!--    <th mat-header-cell *matHeaderCellDef> <h5>Irmão</h5> </th>-->
<!--    <td mat-cell *matCellDef="let grupo" [ngClass]="{'removido': grupo.removido}">-->
<!--      <span *ngIf="grupo.irmaos?.length > 0; else noIrmaos">-->
<!--        <ng-container *ngFor="let irmao of grupo.irmaos; let last = last">-->
<!--          {{ irmao.nomeIrmao }}<span *ngIf="!last">, </span>-->
<!--        </ng-container>-->
<!--      </span>-->
<!--      <ng-template #noIrmaos>Sem Irmãos</ng-template>-->
<!--    </td>-->
<!--  </ng-container>-->

<!--   Ação -->
<!--  <ng-container matColumnDef="acao">-->
<!--    <th mat-header-cell *matHeaderCellDef> <h5>Ação</h5> </th>-->
<!--    <td mat-cell *matCellDef="let grupo">-->
<!--      <button mat-button-->
<!--              [ngStyle]="{'color': grupo.removido ? 'black' : 'red'}"-->
<!--              (click)="removidoDesfeitoGrupo(grupo)">-->
<!--        Desfeito/Removido-->
<!--      </button>-->
<!--    </td>-->
<!--  </ng-container>-->

<!--  <tr mat-header-row *matHeaderRowDef="['nomeGrupo', 'faccao', 'area', 'irmaos', 'acao']"></tr>-->
<!--  <tr mat-row *matRowDef="let row; columns: ['nomeGrupo', 'faccao', 'area', 'irmaos', 'acao']"></tr>-->
<!--</table>-->
