.removido {
  text-decoration: line-through !important;
  color: lightgray !important;
  background-color: #f0f0f0 !important;
}

.grupo-lista tbody tr.removido td {
  color: lightgray !important;  /* Força o cinza em todas as células da linha */
  background-color: #f8f9fa;  /* Um cinza claro de fundo para diferenciar mais */
}

.botao-removido {
  background-color: lightgray;
  color: white;
  cursor: not-allowed;  
  border: 1px solid #ccc;   
}


.bi-arrow-clockwise {
  color: #007bff;   
  transition: transform 0.3s, color 0.3s;
}

.bi-arrow-clockwise:hover {
  transform: rotate(360deg);  
  color: #0056b3;   
}


/*------------------------------*/

.styled-divider {
  border: 0;
  height: 5px; /* Aumentei a espessura da linha */
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), #007bff, rgba(0, 0, 0, 0));
  margin-bottom: 2rem;
  position: relative;
}

.divider-text {
  position: relative;
  top: -28px; /* Ajustado para alinhar o texto centralizado */
  background: #ffffff;
  padding: 0 20px;
  font-size: 1.5rem;
  font-weight: bold;
  color: #007bff;
}

/*------------------------------*/


.grupo-lista {
  background-color: #f8f9fa;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.grupo-lista h2 {
  color: #007bff;
  font-weight: bold;
}

.busca-grupos h3 {
  font-size: 1.2rem;
  color: #333;
}

.form-control {
  max-width: 300px;
  margin-left: 10px;
}

.reset-icon {
  cursor: pointer;
  font-size: 24px;
  transition: transform 0.3s, color 0.3s;
}

.reset-icon:hover {
  transform: rotate(360deg);
  color: #0056b3;
}

.table {
  background-color: #ffffff;
}

.table thead {
  background-color: #007bff;
  color: white;
}

.table-bordered td, .table-bordered th {
  border: 1px solid #dee2e6;
}

.thead-dark th {
  color: #fff;
  background-color: #343a40;
  border-color: #454d55;
}

.table-hover tbody tr:hover {
  background-color: #f1f1f1;
}

.paginacao button {
  transition: all 0.3s;
}

.paginacao button:hover:not([disabled]) {
  background-color: #007bff;
  color: #fff;
}

.paginacao span {
  font-size: 1.1rem;
}

/* Estilos já existentes para grupos removidos */
/*.removido {*/
/*  text-decoration: line-through;*/
/*  color: lightgray;*/
/*}*/

/*.botao-removido {*/
/*  background-color: lightgray;*/
/*  color: white;*/
/*  cursor: not-allowed;  */
/*  border: 1px solid #ccc;   */
/*}*/

/* Estilo adicional para tornar a página ainda mais harmoniosa */
.grupo-lista .table {
  margin-bottom: 0;
  border-radius: 10px;
}

.grupo-lista .table thead {
  border-radius: 10px 10px 0 0;
}

.grupo-lista .table tbody tr:last-child td {
  border-bottom: none;
}

.grupo-lista .table-bordered {
  border-radius: 10px;
}





/*-------------------------------*/

.grupo-lista .busca-grupos {
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.grupo-lista .busca-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.grupo-lista .busca-select {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.grupo-lista select {
  padding: 5px;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid #ddd;
}


/*----------FORMULÁRIO---------------------*/


/* CSS para garantir a largura igual dos campos do formulário */
.form-width {
  width: 100%;
}

.form-group .form-control,
.form-group .form-select {
  width: 100%;
  max-width: 100%;
}

/* Garantir que todos os campos de formulário estejam com a mesma largura */
.form-control {
  width: 100%;
}

select.form-control {
  -webkit-appearance: menulist; /* Para navegadores Webkit */
  -moz-appearance: menulist;   /* Para Firefox */
  appearance: menulist;        /* Para navegadores modernos */
}





