
<div class="container mt-5 d-flex justify-content-center">
  <div class="card shadow-lg border-0" style="max-width: 600px; width: 100%;">
    <div class="card-header bg-primary text-white text-center">
      <h3>Cadastrar Grupo</h3>
    </div>
    <div class="card-body p-4">
      <form #grupoForm="ngForm" (ngSubmit)="salvarGrupo(grupoForm)">
        
        <div class="form-group mb-4">
          <label for="nomeGrupo" class="form-label fw-bold">
            <i class="bi bi-people-fill me-2"></i> Nome do Grupo:
          </label>
          <input type="text" id="nomeGrupo" class="form-control" [(ngModel)]="grupo.nomeGrupo" name="nomeGrupo" placeholder="Digite o nome do grupo" required #nomeGrupoInput="ngModel" (input)="validarNomeGrupo($event)"/>
		  <!-- Mensagem de erro para validação -->
		      <div *ngIf="nomeGrupoInput?.invalid && nomeGrupoInput?.touched" class="text-danger mt-1">
		        <small *ngIf="nomeGrupoInput?.errors?.['required']">O campo "Nome do Grupo" é obrigatório.</small>
		      </div>
		<!-- Mensagem de erro para validação -->
			  <div *ngIf="nomeGrupoErro" class="text-danger mt-1">
				<small>{{ nomeGrupoErro }}</small>
			  </div>
		
        </div>
		
		
		
		
		
		
		
		
		
		

        <div class="form-group mb-4">
          <label for="faccao" class="form-label fw-bold">
            <i class="bi bi-diagram-3-fill me-2"></i> Facção:
          </label>
          <select id="faccao" class="form-control" [(ngModel)]="grupo.faccao" name="faccao" #faccaoInput="ngModel" required>
			<option [ngValue]="null" disabled>Selecione uma Facção</option>
<!--			<option value="" disabled selected>Selecione uma Facção</option>-->
            <option *ngFor="let faccao of faccoes" [ngValue]="faccao">{{ faccao.nome }}</option>
          </select>
		  <!-- Mensagem de erro para validação -->
		      <div *ngIf="faccaoInput?.invalid && faccaoInput?.touched" class="text-danger mt-1">
		        <small *ngIf="faccaoInput?.errors?.['required']">O campo de "Facção" é obrigatório.</small>
		      </div>
        </div>


		
		
		
		
		
		
		
		


        <div class="form-group mb-4">
          <label for="area" class="form-label fw-bold">
            <i class="bi bi-geo-alt-fill me-2"></i> Área:
          </label>
          <input type="text" id="area" class="form-control" [(ngModel)]="grupo.area" name="area" placeholder="Digite a área" #areaInput="ngModel" required  (input)="validarArea($event)"/>
		  <!-- Mensagem de erro para validação -->
		  		      <div *ngIf="areaInput?.invalid && areaInput?.touched" class="text-danger mt-1">
		  		        <small *ngIf="areaInput?.errors?.['required']">O campo de "Área" é obrigatório.</small>
		  		      </div>
					  <!-- Mensagem de erro para validação -->
					  			  <div *ngIf="areaErro" class="text-danger mt-1">
					  				<small>{{ areaErro }}</small>
					  			  </div>
        </div>
		
		
		

        <div class="form-group mb-4">
          <label for="irmao" class="form-label fw-bold">
            <i class="bi bi-person-fill me-2"></i> Irmão:
          </label>
          <select id="irmao" class="form-control" [(ngModel)]="grupo.irmao" name="irmao" #irmaoInput="ngModel" required>
			<option [ngValue]="null" disabled>Selecione um Irmão</option>
            <option *ngFor="let irmao of irmaos" [ngValue]="irmao">{{ irmao.nomeIrmao }}</option>
          </select>
		  <!-- Mensagem de erro para validação -->
		  		      <div *ngIf="irmaoInput?.invalid && irmaoInput?.touched" class="text-danger mt-1">
		  		        <small *ngIf="irmaoInput?.errors?.['required']">O campo de "Irmão" é obrigatório.</small>
		  		      </div>
        </div>
		
		
		

        <div class="text-center">
          <button type="submit" class="btn btn-success w-100 mt-4" [disabled]="!grupoForm.valid">
            <i class="bi bi-save me-2"></i> Salvar
          </button>
        </div>

      </form>
    </div>
  </div>
</div>


<div class="grupo-lista card mt-4 p-4">
  <h2 class="text-center mb-4">Grupos Cadastrados</h2>
  


<div class="busca-grupos">
	<div class="busca-item">
	  <h3>Busca por Grupo:</h3>
	  <div class="busca-select">
		  <input type="text" class="form-control" placeholder="Digite o nome do grupo"
		         [(ngModel)]="nomeGrupoBusca" (input)="onNomeGrupoInputChange(nomeGrupoBusca)">
	  </div>
	</div>
	
	
    <div class="busca-item">
      <h3>Busca por Facção:</h3>
      <div class="busca-select">
        <select [(ngModel)]="faccaoSelecionada" name="faccaoBusca" (change)="buscarPorFaccao()">
          <option [ngValue]="null" disabled>Selecione uma facção</option>
          <option *ngFor="let faccao of faccoes" [value]="faccao.id">{{ faccao.nome }}</option>
        </select>
        <i class="bi bi-arrow-clockwise" (click)="listarTodos()" title="Listar todos" style="cursor: pointer; font-size: 24px; margin-left: 10px;"></i>
      </div>
    </div>

    <div class="busca-item">
      <h3>Busca por Irmão:</h3>
      <div class="busca-select">
        <select [(ngModel)]="irmaoSelecionado" name="irmaoBusca" (change)="buscarPorIrmao()">
          <option [ngValue]="null" disabled>Selecione um irmão</option>
          <option *ngFor="let irmao of irmaos" [value]="irmao.id">{{ irmao.nomeIrmao }}</option>
        </select>
        <i class="bi bi-arrow-clockwise" (click)="listarTodos()" title="Listar todos" style="cursor: pointer; font-size: 24px; margin-left: 10px;"></i>
      </div>
    </div>
	
	
	<div class="busca-item">
	  <h3>Busca por Área:</h3>
	  <div class="busca-select">
		  <input type="text" class="form-control" placeholder="Digite a área"
		         [(ngModel)]="areaBusca" (input)="onAreaInputChange(areaBusca)">
	  </div>
	</div>
</div>


  
  <div class="table-responsive">
    <table class="table table-hover table-bordered">
      <thead class="thead-dark">
        <tr>
          <th>Nome do Grupo</th>
          <th>Facção</th>
          <th>Área</th>
          <th>Irmão</th>
          <th>Ação</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let grupo of grupos" [ngClass]="{'removido': grupo.removido}">
          <td>{{ grupo.nomeGrupo }}</td>
          <td>{{ grupo.faccao?.nome }}</td>
          <td>{{ grupo.area }}</td>
          <td>{{ grupo.irmao?.nomeIrmao }}</td>
          <td>
            <button 
              (click)="marcarComoRemovido(grupo)" 
              class="btn btn-outline-danger btn-sm"
              [ngClass]="{'botao-removido': grupo.removido}"
              [disabled]="grupo.removido">Removido/Desfeito</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  
  <div class="paginacao mt-4 text-center">
    <button class="btn btn-outline-primary mr-2" (click)="paginaAnterior()" [disabled]="paginaAtual === 0">Página Anterior</button>
    <span class="font-weight-bold">Página {{ paginaAtual + 1 }} de {{ totalPaginas > 0 ? totalPaginas : 1 }}</span>
    <button class="btn btn-outline-primary ml-2" (click)="proximaPagina()" [disabled]="paginaAtual >= totalPaginas - 1">Próxima Página</button>
  </div>
</div>




































