<div>
  <app-header></app-header>
</div>

<div class="main-layout">
  <div class="menu_lateral_div">
    <app-menu-lateral
      (aparelhoSelecionado)="onAparelhoSelecionado($event)"
      (itemSelecionado)="onItemSelecionado($event)"
    >
    </app-menu-lateral>
  </div>

  <div class="content">
    <!-- Mostrar tela inicial -->
    <div class="home-container" *ngIf="exibirTelaInicial">
      <h1 class="titulo-principal">Bem-vindo ao Intrusion Control</h1>
      <p class="subtitulo">Descubra como ele pode te ajudar no dia a dia.</p>

      <div class="instrucoes-container">
        <h2>Instruções</h2>
        <div class="instrucoes-cards">
          <div class="card">
            <h3>Aparelhos</h3>
            <p>Constam todas as informações de cada aparelho, desde a conta google, WhatsApp, chip, e outros dados.</p>
          </div>
          <div class="card">
            <h3>Irmãos</h3>
            <p>Você pode ver em qual aparelho o irmão se encontra.</p>
          </div>
          <div class="card">
            <h3>Grupos</h3>
            <p>Cadastro de Grupos, listagem e buscas.</p>
          </div>
          <div class="card">
            <h3>Mapa Facções</h3>
            <p>Link fácil ao mapa das Facções.</p>
          </div>
        </div>
      </div>
    </div>

    <!-- Mostrar detalhes do aparelho selecionado -->
    <div *ngIf="aparelhoSelecionado">
      <app-aparelho-detalhe [aparelho]="aparelhoSelecionado"></app-aparelho-detalhe>
    </div>

    <!-- Mostrar irmãos cadastrados -->
    <div *ngIf="irmaosVisivel">
      <app-irmaos></app-irmaos>
    </div>

    <!-- Mostrar cadastro de grupos -->
    <div *ngIf="grupoCadastroVisivel">
      <app-grupo-cadastro></app-grupo-cadastro>
    </div>

    <!-- Mostrar mapa das facções -->
    <div *ngIf="mapaFaccoesVisivel">
      <app-mapa-faccoes></app-mapa-faccoes>
    </div>
  </div>
</div>

