<div>
  <app-header></app-header>
</div>

<div class="main-layout">
	
  <div class="menu_lateral_div">
	    <app-menu-lateral 
	      (aparelhoSelecionado)="onAparelhoSelecionado($event)" 
	      (itemSelecionado)="onItemSelecionado($event)">
	    </app-menu-lateral>
  </div>

  <div class="content">
	    <!-- Mostrar detalhes do aparelho selecionado -->
	    <div *ngIf="aparelhoSelecionado">
	      <app-aparelho-detalhe [aparelho]="aparelhoSelecionado"></app-aparelho-detalhe>
	    </div>
	
	    <!-- Mostrar irmãos cadastrados -->
	    <div *ngIf="irmaosVisivel">
	      <app-irmaos></app-irmaos>
	    </div>

  <div>
		<app-grupo-cadastro></app-grupo-cadastro>
<!--		<hr />-->
<!--		<app-grupo-lista></app-grupo-lista>-->
   </div> 
  
</div>
